$colors: (
  secondary: rgb(215, 215, 215),
  primary: #333,
  light-primary: lighten(#333, 5%),
  danger: hsl(0, 90%, 51%),
  success: rgb(52, 174, 52),
  spinner: rgba(51, 51, 51, 0.5),
  bg-light: rgba(211, 211, 211, 0.5),
  bg-dark: rgba(0, 0, 0, 0.3),
  light-dark-night: lighten(#333, 15%),
  light-dark: lighten(#333, 10%),
  light-night: lighten(#333, 15%),
  main: rgb(239, 240, 240),
  accent: white,
  focus: #4287f59e,
  main-solid: rgb(230, 230, 230),
  bg-danger: rgba(241, 42, 42, 0.2),
  link: rgb(13, 52, 130),
  loader: rgba(255, 255, 255, 0.489),
);
$box-shadows: (
  button: (
    0px 4px 6px rgba(51, 51, 51, 0.5),
  ),
  light: (
    0px 2px 4px rgba(51, 51, 51, 0.1),
  ),
  menu: (
    0px 4px 6px rgba(51, 51, 51, 0.5),
  ),
);
$transitions: (
  sudden: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275),
  smooth: 0.25s ease,
  spin: 1s linear infinite,
);

@function getColor($color-name) {
  @return map-get($colors, $color-name);
}
@function getTransition($transition-name) {
  @return map-get($transitions, $transition-name);
}
@function getShadows($shadow-name) {
  @return map-get($box-shadows, $shadow-name);
}

.wrapper {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
  padding: 75px 50px;
  padding-bottom: 20px;
  border-left: 1px solid getColor(secondary);
  border-right: 1px solid getColor(secondary);
  min-height: 100vh;
  position: relative;
}

.title {
  &__name {
  }
  &__description {
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 9;
  opacity: 1;
  visibility: visible;
  transition: getTransition(smooth);
  &--close {
    opacity: 0;
    visibility: hidden;
  }
}

.background-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: getTransition(smooth);
  background-color: getColor(bg-dark);
  z-index: 9;
  &--active {
    opacity: 1;
    visibility: visible;
  }
}

.btn-handler {
  display: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid transparent;
  outline: none;
  transition: getTransition(smooth);
  text-decoration: none;
  &__name {
    margin: 0px 4px;
  }
  &__icon {
    margin: 0px 4px;
  }
  &:hover {
    box-shadow: getShadows(button);
  }
  &:active {
    transform: scale(0.9);
  }
}
.btn-primary {
  background-color: getColor(primary);
  color: getColor(accent);
  border-color: getColor(primary);
}
.btn-simple {
  border-color: getColor(secondary);
  color: getColor(primary);
}

.field {
  display: block;
  &--close {
    display: none;
  }
  &__name {
    display: block;
    padding: 5px 0;
  }
  &__date-name {
    text-transform: capitalize;
  }
  &__date {
    padding: 0px 8px;
    height: 34px;
    border-radius: 0;
    border: 1px solid getColor(secondary);
    border-right-color: transparent;
    outline: 2px solid transparent;
    position: relative;
    &:focus {
      z-index: 2;
      outline-color: getColor(focus);
    }
  }
  &__input {
    border: 1px solid getColor(secondary);
    width: 100%;
    padding: 6px;
    transition: getTransition(smooth);
    outline: 2px solid transparent;
    outline-offset: 1px;
    &--error {
      border-color: getColor(danger);
    }
    &:focus {
      outline-color: getColor(focus);
    }
  }
}

.select {
  display: flex;
  border: 1px solid getColor(secondary);
  &__name {
    width: 50%;
    text-align: center;
    margin: auto;
  }
  &__viewer {
    width: 50%;
    border-radius: 0px;
    background-color: getColor(primary);
    color: getColor(accent);
    border: none;
    outline: 2px solid transparent;
    padding: 6px;
    cursor: pointer;
    &:focus {
      outline-color: getColor(focus);
    }
  }
  &__option {
    background-color: getColor(accent);
    color: getColor(primary);
  }
}

.error {
  color: getColor(danger);
  font-size: 0.85em;
  padding: 3px 0;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: getTransition(smooth);
  height: 23px;
  &--active {
    visibility: visible;
    opacity: 1;
  }
  &__icon {
  }
  &__name {
    margin-left: 6px;
  }
}

.auth-form {
  position: absolute;
  width: 450px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  border: 1px solid getColor(secondary);
  transform: translate(-50%, -50%);
  padding: 20px;
  &__fields {
  }
  &__btns {
    display: flex;
    justify-content: center;
    padding-top: 0.2em;
  }
  &__btn {
    margin-right: 12px;
  }
}

.plug-img {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: getColor(secondary);
  &__icon {
    font-size: 5em;
  }
  &__name {
  }
}

.form-flat {
  display: flex;
  border: 1px solid getColor(secondary);
  &__btn-tab {
    border: 1px solid transparent;
    border-right: 1px solid getColor(secondary);
    &:hover {
      box-shadow: none;
      border-bottom-color: getColor(secondary);
    }
    &:active {
      transform: none;
    }
    &--active {
      border-bottom-color: getColor(danger);
      &:hover {
        border-bottom-color: getColor(danger);
      }
    }
  }
  &__container {
    width: 50%;
    border-right: 1px solid getColor(secondary);
  }
  &__btns {
    display: flex;
    border-bottom: 1px solid getColor(secondary);
  }
  &__image-side {
    width: 50%;
    padding: 20px;
    display: flex;
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__page {
    padding: 20px;
    display: none;
    &--active {
      display: block;
    }
  }
  &__btn-go {
    margin-top: 1em;
    margin-left: auto;
    &-left {
      margin-right: auto;
    }
  }
  &__date {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  &__btn-add-time {
    height: 34px;
    outline: none;
    flex: 1;
    display: flex;
    background-color: getColor(primary);
    color: getColor(accent);
    font-size: 1.1em;
    transition: getTransition(smooth);
    &:active {
      transform: scale(0.9);
    }
    &--disabled {
      background-color: getColor(secondary);
      &:active {
        transform: none;
      }
    }
    & > * {
      margin: auto;
    }
  }
  &__error {
    height: 23px;
    width: 100%;
  }
  &__container-slots {
    height: 30vh;
    background-color: getColor(bg-light);
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid getColor(secondary);
    margin-top: 1em;
    box-shadow: inset getShadows(light);
  }
  &__btns-submit {
    display: flex;
    justify-content: flex-end;
    padding-top: 38px;
  }
  &__btn-apply {
    &--disabled {
      background-color: getColor(secondary);
      border-color: getColor(secondary);
      &:hover {
        box-shadow: none;
      }
      &:active {
        transform: none;
      }
    }
  }
}

.time-slot {
  display: flex;
  align-items: center;
  border-bottom: 1px solid getColor(secondary);
  padding: 7px;
  background-color: getColor(accent);
  box-shadow: getShadows(light);
  &:last-child {
    border-bottom-color: getColor(secondary);
  }
  &__date {
    border: 1px solid getColor(secondary);
    padding: 4px 10px;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    margin: 0px 4px;
  }
  &__btn-delete {
    width: 30px;
    height: 30px;
    outline: none;
    border-radius: 50%;
    border: 1px solid getColor(secondary);
    display: flex;
    margin-left: auto;
    & > * {
      margin: auto;
    }
  }
}

.form-voucher {
  display: flex;
  border: 1px solid getColor(secondary);
  &__container {
    width: 50%;
    padding: 20px;
    border-right: 1px solid getColor(secondary);
  }
  &__btns {
    display: flex;
    padding-top: 38px;
    justify-content: flex-end;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: getColor(primary);
  z-index: 10;
  box-shadow: getShadows(menu);
  &__menu {
    margin: 0 auto;
    width: 1400px;
    max-width: 100%;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.link {
  color: getColor(accent);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 15px 13px;
  transition: getTransition(smooth);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  &--active {
    border-top-color: getColor(danger);
    &:hover {
      background-color: getColor(primary) !important;
    }
  }
  &:hover {
    background-color: getColor(light-primary);
  }
  &__icon {
  }
  &__name {
    margin-left: 7px;
  }
  &__logo {
    font-size: 1.1em;
    margin-right: auto;
    padding: 0px 10px;
    align-self: stretch;
    .link__icon {
      font-size: 1.4em;
    }
  }
}

.drop-menu {
  position: relative;
  &__btn {
    padding: 7px 14px;
    &--open {
      background-color: getColor(light-primary);
    }
  }
  &__container-img {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid getColor(secondary);
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  &__name {
  }
  &__container {
    position: absolute;
    top: 52px;
    right: 0;
    width: 120px;
    background-color: getColor(accent);
    border: 1px solid getColor(secondary);
    border-top: none;
    opacity: 0;
    visibility: hidden;
    transition: getTransition(smooth);
    transform: scale(0.9);
    &--active {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
    .link {
      width: 100%;
      color: getColor(primary);
      &:hover {
        background-color: getColor(secondary);
      }
    }
  }
}

.main {
  display: flex;
  padding-top: 52px;
  width: 100%;
  min-height: 100vh;
  &__content {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__bg-image {
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./images/city-bg.jpg");
  }
  &__info {
    width: 600px;
    max-width: 100%;
    padding-right: 20px;
  }
  &__title {
    display: flex;
    align-items: center;
    font-size: 2.6em;
  }
  &__icon {
    font-size: 1.5em;
  }
  &__name {
    margin-left: 8px;
  }
  &__paragraph {
    font-size: 1.1em;
    margin: 1.4em 0;
  }
  &__btn {
    margin-right: 10px;
  }
  &__btns {
    display: flex;
    padding-top: 1em;
    align-items: center;
  }
}

.flat-item {
  display: flex;
  margin: 0 auto;
  border: 1px solid getColor(secondary);
  margin-bottom: 1.5em;
  width: 900px;
  max-width: 100%;
  &__image-side {
    width: 250px;
    height: 250px;
    display: block;
    position: relative;
  }
  &__info {
    flex: 1;
    padding: 15px;
    position: relative;
  }
  &__date-slots {
    flex: 1;
    border-left: 1px solid getColor(secondary);
  }
  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__price {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    color: getColor(accent);
    background-color: getColor(bg-dark);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__grivna-sign {
    margin-left: 6px;
    font-size: 0.9em;
  }
  &__title {
    text-decoration: none;
    color: getColor(primary);
    font-size: 1.3em;
    font-weight: bold;
  }
  &__paragraph {
    padding: 10px 0;
    margin: 1em 0;
  }
  &__owner {
    display: flex;
    align-items: center;
    border: 1px solid getColor(secondary);
    text-decoration: none;
    color: getColor(primary);
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
  }
  &__avatar {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid getColor(secondary);
  }
  &__img-ava {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid getColor(secondary);
  }
  &__fullname {
    padding: 0px 15px;
  }
  &__firstname {
    margin-right: 6px;
  }
  &__lastname {
  }
  &__slot {
    padding: 5px 0;
    display: block;
    width: 100%;
    border: 1px solid transparent;
    border-bottom-color: getColor(secondary);
    transition: getTransition(smooth);
    background-color: getColor(accent);
    &:hover {
      border-color: getColor(danger);
    }
    &--booked {
      background-color: getColor(bg-danger);
    }
    &--ordered {
      background-color: getColor(success);
    }
  }
  &__settlement,
  &__eviction {
    display: inline-block;
    width: 100px;
    padding: 5px;
    border: 1px solid getColor(secondary);
    border-radius: 5px;
  }
  &__settlement {
  }
  &__eviction {
  }
}

.voucher-item {
  padding: 15px;
  &__image-side {
    border-radius: 50%;
    padding: 7px;
    border: 1px solid getColor(secondary);
    width: 150px;
    height: 150px;
  }
  &__image {
    border-radius: 50%;
  }
  &__info {
  }
  &__paragraph {
    margin: 0;
  }
  &__field {
    display: block;
  }
  &__order {
    display: flex;
    padding-left: 15px;
    & > * {
      margin: auto;
    }
  }
  &__btn {
    &--active {
      background-color: getColor(success);
    }
  }
}

.sort-panel {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
  &__block {
    border: 1px solid transparent;
    border-left-color: getColor(secondary);
    border-bottom-color: getColor(secondary);
    // border-right: 1px solid transparent;
    padding: 10px;
    display: flex;
    flex-direction: column;
    &:first-child {
      border-left-color: transparent;
    }
  }
  &__title {
    margin-bottom: 10px;
  }
  &__form {
    display: flex;
  }
  &__label-radio {
    display: flex;
    margin: 6px 0;
    align-items: center;
    cursor: pointer;
  }
  &__radio {
    margin-right: 6px;
  }
  &__name {
  }
  &__input {
    border: 1px solid getColor(secondary);
    outline: 2px solid transparent;
    position: relative;
    padding: 5px;
    width: 120px;
    border-left-color: transparent;
    &:focus {
      z-index: 2;
      outline-color: getColor(focus);
    }
    &:first-child {
      border-left-color: getColor(secondary);
    }
  }
  &__btn {
    padding: 5px 10px;
    align-self: stretch;
    background-color: getColor(primary);
    color: getColor(accent);
  }
  &__select {
    cursor: pointer;
    border: none;
    outline: none;
  }
  &__option {
    background-color: getColor(accent);
    color: getColor(primary);
  }
}

.booking-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid getColor(secondary);
  margin-bottom: 1em;
  &__container-img {
    width: 140px;
    height: 140px;
    display: block;
  }
  &__img {
    width: 100%;
    height: 100%;
    overflow: cover;
    display: block;
  }
  &__info {
    flex: 1;
    padding: 0px 10px;
  }
  &__name {
    text-decoration: none;
    color: getColor(primary);
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  &__paragraph {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  &__numberRooms {
  }
  &__price {
  }
  &__date {
    border: 1px solid getColor(secondary);
    align-self: flex-start;
    font-size: 0.9em;
    padding: 5px;
    border-radius: 4px;
  }
  &__settlement {
    display: block;
  }
  &__eviction {
    display: block;
  }
  &__btn-container {
    display: flex;
  }
  &__btn {
    margin: auto;
    border-radius: 50%;
    display: flex;
    font-size: 1.1em;
    & > * {
      margin: auto;
    }
  }
}

.order-item {
  &__container-img {
    border-radius: 50%;
    border: 1px solid getColor(secondary);
    padding: 5px;
  }
  &__img {
    border-radius: 50%;
    border: 1px solid getColor(secondary);
  }
  &__quantity {
  }
  &__quantity-input {
    border: 1px solid getColor(secondary);
    text-align: center;
    border-radius: none;
    margin-left: 6px;
    outline: 2px solid transparent;
    position: relative;
    &:focus {
      z-index: 2;
      outline-color: getColor(focus);
    }
  }
}

.title-orders {
  text-align: center;
  font-size: 1.2em;
  border-top: 1px dashed getColor(secondary);
  border-bottom: 1px dashed getColor(secondary);
  padding: 10px 0;
  margin: 10px 0;
}

.purchase {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  &__label {
    border-left: 1px solid getColor(secondary);
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0px 15px;
  }
  &__price {
    margin-left: 7px;
    font-weight: bold;
  }
}

.purchase-form {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 450px;
  max-width: 100%;
  transform: translate(-50%, -20%);
  opacity: 0;
  visibility: hidden;
  transition: getTransition(smooth);
  z-index: 10;
  background-color: getColor(accent);
  padding: 20px;
  &--open {
    opacity: 1;
    visibility: visible;
  }
  &__title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
  }
  &__btns {
    display: flex;
    padding-top: 1em;
    justify-content: center;
  }
}

.plug-text {
  text-align: center;
  color: getColor(secondary);
  padding: 1em 0;
}

.flat {
  display: flex;
  &__left-side {
    width: 50%;
  }
  &__right-side {
    width: 50%;
    padding: 0px 20px;
    font-size: 1.1em;
  }
  &__container-img {
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  &__container-slots {
    border: 1px solid getColor(secondary);
    height: 25vh;
  }

  &__name {
    font-size: 1.8em;
  }
  &__info-item {
    display: block;
    border: 1px solid getColor(secondary);
    padding: 15px;
  }
}
