@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #333;
  font-family: "Quicksand", sans-serif;
}

button,
label,
select,
option,
input {
  font-family: inherit;
  font-size: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

@media (max-width: 950px) {
  body {
    font-size: 0.9em;
  }
}
